
            h1{
                color:red;
                background:yellow;
            }
            #first{
                background:light blue;
            }
        #box{
            background:yellow;
            width:600px;
            margin:100px auto;
            padding:50px;
        
        }
#image{
    height:100px;
    width:100px;
    border:5px solid black;
    border-radius:100px;
}